//- Created by MikaSpell on 22.07.16.

h2 Разделы документации

ul.doc-menu
  li.doc-menu__chapter.active
    a(href="#") Глава 1
  li.doc-menu__chapter
    a(href="#") Глава 2
  li.doc-menu__chapter.doc-menu__chapter--parent
    a(href="#") Глава 3
    ul.doc-menu.doc-menu--sub
      li.doc-menu__section
        a(href="#") Раздел 1
      li.doc-menu__section
        a(href="#") Раздел 2

  li.doc-menu__chapter.doc-menu__chapter--parent
    a(href="#") Глава 3
    ul.doc-menu.doc-menu--sub
      li.doc-menu__section
        a(href="#") Раздел 1
      li.doc-menu__section
        a(href="#") Раздел 2

  li.doc-menu__chapter.doc-menu__chapter--parent
    a(href="#") Глава 3
    ul.doc-menu.doc-menu--sub
      li.doc-menu__section
        a(href="#") Раздел 1
      li.doc-menu__section
        a(href="#") Раздел 2

  li.doc-menu__chapter.doc-menu__chapter--parent
    a(href="#") Глава 3
    ul.doc-menu.doc-menu--sub
      li.doc-menu__section
        a(href="#") Раздел 1
      li.doc-menu__section
        a(href="#") Раздел 2

  li.doc-menu__chapter.doc-menu__chapter--parent
    a(href="#") Глава 3
    ul.doc-menu.doc-menu--sub
      li.doc-menu__section
        a(href="#") Раздел 1
      li.doc-menu__section
        a(href="#") Раздел 2
